@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
} 

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: position 180%;
    background-image:url(https://www.shutterstock.com/image-photo/stack-colorful-clothes-pile-clothing-600nw-2203081765.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 120px;
}
/* Top-left heading */
.header h1 {
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top: 25%;
    right: 20%;
    color: rgb(6, 6, 6);
    letter-spacing: 1px;
    margin-bottom: 60px;
    align-items: top;
    padding: -20px;
    text-shadow: 2px 2px 4px rgb(87, 87, 87,0.6) ;
   letter-spacing: 3px;
   opacity: .7;
}

.header h1 span {
    color: #080107; /* pink highlight for "Raga Textiles" */
}
form{
    width: 25rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background:rgba(36, 173, 223, 0.06);
    box-shadow: 0 8px 0 rgba(1, 8, 11, 0.37);
    border-radius: 30px;
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3);
}
form:before{
   content: " ";
   position: absolute;
   bottom: 3%;
   right: 60%;
   width: 200px;
   height: 200px;
   background: rgb(205, 202, 202);
   border-radius: 50%;
   z-index: -1;
   opacity: .8;

}
form:after{
   content: " ";
   position: absolute;
   top: 8%;
   left: 5%;
   width: 120px;
   height: 120px;
   background: rgb(202, 199, 199);
   border-radius: 50%;
   z-index: -1;
   opacity: .8;

}
h2{
   font-size: 50px;
   text-align: center;
   color: black;
   text-shadow: 2px 2px 4px rgb(87, 87, 87,0.6) ;
   letter-spacing: 3px;
   margin-bottom: 5%;
   opacity: .7;
}
 h6{
   text-align: center;
   color: black;
   margin-bottom: 4%;  
}
label{
   font-size: 16px;
   margin-left: 10%;
   opacity: .9;
   text-shadow:2px 2px 4px rgb(87, 87, 87) ;

}
input{
   width: 80%;
   margin: 5% auto;
   margin-bottom: 8%;
   border: none;
   outline: none;
   background: transparent;
   color: black;
   border-bottom: 1px solid black;
   opacity: .8;
}
button{
   width: 50%;
   margin: 3% auto;
   font-size: 20px;
   color: rgb(0, 0, 0);
   opacity: .7;
   padding: 10px 30px;
   border-radius: 20px;
   text-shadow:2px 2px 4px rgb(87, 87, 87,);
   box-shadow: 3px 3px 5px black;
   border-left: 1px solid black;
   
}
a{
   font-size: 16px;
   text-align: center;
   color: black;
   margin-top: 5%;
}
